#TODO: This workflow should change to possibly use coverageReport and generate badge
name: Generate Coverage Badge

on: 
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build and test with Gradle
        run: ./gradlew test
      
      - name: Generate Jacoco Badge
        id: jacoco
        uses: cicirello/jacoco-badge-generator@v2.0.0
        with:
         generate-branches-badge: true
         jacoco-csv-file: build/reports/jacoco/test/jacocoTestReport.csv
    
      - name: Log coverage percentage
        run: |
             echo "coverage = ${{ steps.jacoco.outputs.coverage }}"
             echo "branch coverage = ${{ steps.jacoco.outputs.branches }}"

      - name: Commit the badge (if it changed)
        run: |
             if [[ `git status --porcelain` ]]; then
               git config --global user.email "$GITHUB_ACTOR@users.noreply.github.com"
               git config --global user.name "coveragebot"               
               git add *.svg
               git commit -m "Autogenerated jacoco coverage badge" || echo "No changes to commit"
               git push || echo "No changes to commit"
             else
               echo "No change to coverage"
             fi